.header--inline {
  display: inline;
}

.dropdown--fixed-width {
  width: 80px;
}

.modal-description {
  margin: 15px 0;
}

.modal-description__container {
  width: 100%;
  display: inline-grid;
  grid-template-columns: repeat(2, 1fr);
}

#exception-dates{
  font-weight: bold;
   width: 115px;
  ul{
    margin: 0px;
  }
  li{
    width: 100px;
  }
}

.note--button {
  float: right;
}