body {
  overflow: scroll;
}

// Themes

themeLight {
	$textColor: black;
	$textColorHeader: white;
	$borderColor: #F2D692;
	$eventBackgroundColor: aqua;
	$backgroundColorContainer: #F2D692;
	$backgroundColorCells: #C9A859;
	$backgroundColorRooms: #A17F2E;
	$backgroundColorHours: #A17F2E;
	$navigationTitleColor: #932439;
	$bookingColor: #1F5465;
	$camponColor: #82220E;
	$expiredBookingColor: #7F7F7F;
	$navigationUserColor: #4D4D4D;
	$navigationBarColor: #2D2D2D;
}

themeDark {
	$textColor: black;
	$textColorHeader: white;
	$borderColor: #3d3d3e;
	$eventBackgroundColor: aqua;
	$backgroundColorContainer: #3d3d3e;
	$backgroundColorCells: #333333;
	$backgroundColorRooms: #292929;
	$backgroundColorHours: #292929;
	$navigationTitleColor: #932439;
	$bookingColor: #5a9ab2;
	$camponColor: #77993b;
	$expiredBookingColor: #7F7F7F;
	$navigationUserColor: #4D4D4D;
	$navigationBarColor: #2D2D2D;
}

