#datepicker {
    // display: none;
    border: 0px;
}

.SingleDatePickerInput__withBorder {
    display: none !important;
}

.navigation__title {
	background-color: #932439 !important;
}

.navigation__forDisplay {
	background-color: #46c00e !important;
}

.navigation__user {
	background-color: #4D4D4D !important;
}

.navigation__container {
	background-color: #2D2D2D !important;
}

.navigation__bar {
	background-color: #2D2D2D !important;
}