.profile {
  padding: 50px 30px 30px 30px;
  background-color: #4D4D4D;
}
.segment {
	background-color: #B0AEAE !important;
	border-radius: 5px !important;
}
.segment_container {
	background-color: #932439 !important;
	padding: 2px !important;
	border-radius: 5px !important;
}