.header--inline {
  display: inline-block;
  margin-right: 500px;
}
.dropdown--fixed-width {
  width: 80px;
}
.input--table {
  table-layout: fixed;
  min-width: 100%;
}
.line--name {
  align-items: center;
}
.line--input {
  align-items: center;
}
