/* Variables */

:root {
  --rowNum: 7;
  --colNum: 5;
  --gridHeight: 120px;
  --wrapperH: 40px;
  --cellsDivisionNum: 0;
  --opacity: 1;
  --pointerEvents: auto;
}

$textColor: black;
$textColorHeader: white;
$borderColor: #F2D692;
$eventBackgroundColor: aqua;
$backgroundColorContainer: #F2D692;
$backgroundColorCells: #C9A859;
$backgroundColorRooms: #A17F2E;
$backgroundColorHours: #A17F2E;
$borderWidth: 1px;
$cellsMinHeight: auto;

/* Calendar */

body {
  overflow: scroll;
}

.calendar__container {
  opacity: var(--opacity);
  pointer-events: var(--pointerEvents);
  position: fixed;
  display: inline-grid;
  margin-top: 65px;
  // padding: 20px;
  width: 100%;
  height: 100%;
  overflow: scroll;
  overflow-x: visible;
  background-color: $backgroundColorContainer;
  grid-template-rows: max-content auto;
  padding-bottom: 100px;
}

.calendar__wrapper {
  display: inline-grid;
  padding: 2px;
  height: 100%;
  grid-template-rows: max-content auto;
}

.date__container {
  position: relative;
  width: 100%;
  margin: 0;
}

.calendar__date {
  color: white;
  margin-top: 10px;
  font-size: 50;
  &__header {
    position: -webkit-sticky;
    position: sticky;
    left: 40%;
    display: inline;
    font-weight: 400;
    margin: 0 10px;
  }
}

.calendar__rooms__wrapper {
  display: inline-grid;
  position: -webkit-sticky;
  position: sticky;
  // height: 50px;
  color: $textColorHeader;
}

.calendar__hours__wrapper {
  display: inline-grid;
  position: -webkit-sticky;
  position: sticky;
  color: $textColorHeader;
}

.calendar__cells__wrapper {
  display: inline-grid;
  height: 100%;
}

.calendar__cells__cell {
  border: $borderWidth solid $borderColor;
  margin-top: -$borderWidth;
  margin-left: -$borderWidth;
  min-height: $cellsMinHeight;
  width: 120px;
  // height: 50px;
  background-color: $backgroundColorCells;
  &--campon {
    font-size: 9;
  }
  border-radius: 5px;
}

.calendar__cells__cell:hover {
  box-shadow: 0 0 20px #A17F2E;
  cursor: pointer;
}

.calendar__booking {
  padding: 1px;
  padding-top: 3px;
  font-size: 12px;
  color: white;
  font-weight: 100;
  border-radius: 5px;
  span {
    line-height: 10px;
  }
}

.calendar__booking:hover {
  box-shadow: 0 0 20px rgba(33, 33, 33, .2);
  cursor: pointer;
}

.calendar__rooms__cells {
  display: inline-grid;
}

.calendar__rooms__room {
  display: flex;
  justify-content: center;
  align-items: center;
  border: $borderWidth solid $borderColor;
  padding: 5px 10px;
  margin-top: -$borderWidth;
  margin-left: -$borderWidth;
  border-radius: 5px;
  background-color: $backgroundColorRooms;
}

.calendar__hours__hour {
  display: flex;
  justify-content: center;
  align-items: center;
  border: $borderWidth solid $borderColor;
  margin-top: -$borderWidth;
  margin-left: -$borderWidth;
  // padding: 0 1px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: $backgroundColorHours;
}

.modals {
  display: none;
}

.menu--date:hover {
  cursor: pointer;
}

.menu--date:before {
  content: none !important;
}

.arrow {
  color: #932439 !important;
  // background-color: #4D4D4D !important;
  margin-left: 5px !important;
}

.arrow:hover {
  background-color: rgb(87, 85, 85);
}

.button_orientation {
  border: 2px solid #932439;
  border-radius: 5px;
  background-color: $backgroundColorHours;
  width: 98.5%;
  height: 95%;
  color: white;
  text-align: center;
  line-height: 100%;
}

.button_orientation:hover {
  background-color: rgb(124, 98, 37);
  cursor: pointer;
}