#bookers{
    .edit-button{
      display: block;
      margin: auto;
    }
    .table-max-size{
      margin-left: 10px;
    }
    .sortable-button:hover{
      background-color: #E0E1E2;
    }
}
.segment_container {
	display: grid;
    grid-template-columns: 1fr 1fr;
    .segment {
      margin: 0 2px;
    }
}
