#booker-modal{
    .privilege-name{
        padding-top: 8px;
    }
    .privilege-section{
        border: 1px solid rgba(34,36,38,.15);
        padding: 8px;
    }
    .dropdown{
        margin-right: 4px;
    }
}
