.header--inline {
  display: inline;
}

.dropdown--fixed-width {
  width: 80px;
}

.modal-description {
  margin: 15px 0;
}

#exception-dates {
  font-weight: bold;
  width: 115px;
  ul {
    margin: 0px;
  }
  li {
    width: 100px;
  }
}

.ui.top.aligned.page.modals.dimmer.transition.visible.active {
  overflow-y: scroll;
}